<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <%- include("partials/errors.ejs") %>
    <%if(typeof error !== 'undefined') { %>
    <div><%=error%></div>
    <%}%>
    <%if(successMsg !== 'undefined') {%>
    <div><%=successMsg%></div>
    <%}%>
    <h2>
      Hi
      <%=currentUser.email%>
    </h2>
    <h3>Create Folder</h3>
    <form action="/folders" method="post">
      <label for="folderName">Folder Name:</label>
      <input type="text" name="folderName" id="folder-name" />
      <button type="submit">Create</button>
    </form>

    <% if(folders) {%>
    <h4>Folders:</h4>
    <ul>
      <% folders.forEach((folder)=>{%>
      <li>
        <a href="/dashboard/folders/<%=folder.id%>"><%=folder.name%></a>
        <form action="/folders/<%=folder.id%>/update" method="post">
          <label for="folder-name">Name:</label>
          <input type="text" name="folderName" id="folder-name" />
          <button type="submit">Update</button>
        </form>
        <form action="/folders/<%=folder.id%>/delete" method="post">
          <button type="submit">Delete</button>
        </form>
      </li>
      <%})%>
    </ul>
    <% if(files && files.length>0) {%>
    <h4>Files:</h4>
    <ul>
      <% files.forEach((file)=>{%>
      <li><%=file.name%></li>
      <%})%>
    </ul>
    <%}%>
    <%}%>

    <h3>Upload File:</h3>
    <form action="/files" method="post" enctype="multipart/form-data">
      <label for="upload-file">File:</label>
      <input type="file" name="uploadedFile" id="upload-file" />
      <% if (folders && folders.length == 1) { %>
      <input
        type="text"
        name="folderId"
        id="folder-id"
        hidden
        value="<%=folders[0].id%>"
      />
      <%} %>
      <button type="submit">Upload</button>
    </form>
    <a href="/log-out">Log out</a>
  </body>
</html>
